<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <h5>Recipe list</h5>
            <button class="btn btn-outline-primary btn-sm">
                <fa-icon [icon]="['fas','plus']" size="md" class="mr-2"></fa-icon>New recipe
            </button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" (recipeSelected)="onRecipeSelect(recipeEl)"></app-recipe-item>
    </div>
</div>
